.sidebar-container{
  position: fixed;
  width: 300px;
  height: 100vh;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 768px){
    width: 100%;
    left: -100%;

    &.is-active{
      left: 0;
    }
  }
}

